{
  "name": "{{.BinaryName}}",
  "description": "{{.ShortDescription}}",
  "author": {
    "name": "{{.CompanyName}}",
    "email": "{{.SupportEmail}}"
  },
  "homepage": "https://{{.ModulePath}}",
  "repository": "https://{{.ModulePath}}"
}
