<!-- neeto-cli-commons:make-targets:start -->
### Make targets

```bash
make build          # Builds ./{{.BinaryName}}
make test           # Run tests
make lint           # golangci-lint
make fmt            # gofmt -w
make vet            # go vet
make check          # fmt + vet + test
make install        # Installs to /usr/local/bin
make clean          # Remove built binary
```
<!-- neeto-cli-commons:make-targets:end -->
