<!-- neeto-cli-commons:prerequisites:start -->
## Prerequisites (development)

- [Go](https://go.dev/dl/) {{.GoVersion}}+
- Access to a {{.PrettyName}} organization
<!-- neeto-cli-commons:prerequisites:end -->
